@model IEnumerable<IngredientDB.InventoryIngredient>

@{
    ViewBag.Title = "Index";
}

<h2>Dit is in je koelkast</h2>

<p1> Search ingredient:</p1>
<form method="post">
    <input type="text" name="input" />
    <input type="submit" value="Search" />

</form>


<p>
    @Html.ActionLink("Voeg toe", "Toevoegen")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ingredient.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ingredient.merk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoeveelheid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eenheid)
        </th>
        <th></th>
    </tr>
    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ingredient.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ingredient.merk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hoeveelheid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Eenheid)
                    </td>
                    <td>
                        @Html.ActionLink("Hoeveelheid veranderen", "Edit", new { id = item.InventoryIngredientID }) |

                        @Html.ActionLink("Delete", "Delete", new { id = item.InventoryIngredientID }) |
                        @Html.ActionLink("Boodschappenlijst toevoegen", "AddInventory", "Boodschap", new { id = item.ingredient.ingredientID }, null)

                    </td>

                </tr>
            }
        }

    }

</table>
