@model IEnumerable<IngredientDB.Ingredient>
@{
    ViewBag.Title = "Toevoegen";
}

<h2>Toevoegen</h2>


<p1> Search ingredient:</p1>
<form method="post">
    <input type="text" name="input" />
    <input type="submit" value="Search" />

</form>

<p>
    @Html.ActionLink("Create New", "Create", "Ingredients", null, null)

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.merk)
        </th>
        <th></th>
    </tr>

    @if(Model != null)
    {
        foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.merk)
            </td>
            <td>
                @Html.ActionLink("Voeg toe", "AddInventory", new { id = item.ingredientID })

            </td>
        </tr>
        }
    }

</table>
