@model IEnumerable<IngredientDB.Ingredient>
@{
    ViewBag.Title = "AddIngredient";
}

<h2>AddIngredient</h2>
@if(ViewBag.User == false)
{
    <p1> Je kan geen ingredienten toevoegen van iemand anders recept</p1>
}

@if(ViewBag.User == true){
<form method="post">
    <input type="text" name="naam" />
    <input type="submit" value="AddIngredient" />
    @*<p>
            Naam: <input type="text" asp-for="SearchString" />
            <input type="submit" value="Search" />
        </p>*@
</form>


<p>
    @Html.ActionLink("Create New", "Create", "Ingredients", null, null)

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.merk)
        </th>
        <th></th>
    </tr>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.merk)
            </td>
            <td>
                @Html.ActionLink("Voeg toe", "AddRecipeIngredient", new { id = item.ingredientID })

            </td>
        </tr>
    }
}

</table>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
