@model IEnumerable<IngredientDB.Recipe>

@{
    ViewBag.Title = "Index";
}

<h2>Dit zijn de recepten die zijn opgeslagen</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            aantal ingredienten
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calorien)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeIngredients.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calorien)
            </td>
            
            <td>
                @*@Html.ActionLink("Hoeveelheid veranderen", "Edit", new { id = item.InventoryIngredientID }) |*@

               
                    @Html.ActionLink("Voeg een ingredient aan recept", "AddIngredient", new { id = item.RecipeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RecipeID }) |
                
                @Html.ActionLink("Details", "Details", new { id = item.RecipeID }) 
            </td>

        </tr>
    }

</table>